@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  background-color: #020617; /* slate-950 */
  scrollbar-color: rgba(234, 179, 8, 0.3) transparent; /* Firefox */
}

/* Custom scrollbar */
::-webkit-scrollbar {
  width: 7px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: rgba(233, 177, 7, 0.623);
  border-radius: 999px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(234, 178, 8, 0.842);
}